.wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 300px;
    gap: 20px;
  }
  .box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
  }
  .abspos {
    font-family: 'New Tegomin', serif;
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: rgba(255,255,255,.5);
    border: 1px solid rgba(0,0,0,0.5);
    color: #000;
    padding: 10px;
  }

  div{
      background-color: rosybrown;
  }